<form (ngSubmit)="questionSubmit(question.question)" appQuestionBorder>
  <div class="form-group">
    <label for="answer">{{ question.question }}</label>
    <input type="text" name="answer" id="answer" #answerInput>
    <div class="help">Подсказка: {{ question.help }}</div>
  </div>
  <button type="submit">Ответ</button>
</form>
